body {
    font-family: 'Inter', sans-serif;
    background-color: #1a202c; 
    color: #e2e8f0; 
}

.hero-bg {
    background-color: #2d3748; 
}

article.project-card h3 {
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: #f7fafc; 
    font-size: 1.15rem;
}

footer.main-footer form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 1rem;
}

footer.main-footer form input {
    padding: 0.75rem 1.25rem;
    border: 1px solid #4a5568; 
    background-color: #2d3748; 
    color: #e2e8f0; 
}

/* --- ROLAGEM E CARROSSEL NATIVO --- */

/* 1. Área de Notícias (Horizontal) */
#news-carousel-container {
    overflow-x: auto; /* Permite rolar com o touchpad */
    white-space: nowrap;
    cursor: grab; /* Indica que é arrastável */
    scrollbar-width: none; /* Esconde a barra de rolagem no Firefox */
    -ms-overflow-style: none; /* Esconde no IE/Edge */
}
/* Esconde barra no Chrome/Safari */
#news-carousel-container::-webkit-scrollbar { 
    display: none; 
}

#news-cards-scroller {
    display: flex;
    gap: 2rem; /* Espaço entre cards */
    /* Removemos a animation: scroll-horizontal aqui */
}


/* 2. Área de Equipes Lateral (Vertical) */
#equipes-carousel-container {
    overflow-y: auto; /* Permite rolar verticalmente */
    height: 900px; /* Mantém a altura fixa */
    cursor: grab;
    scrollbar-width: none;
}
#equipes-carousel-container::-webkit-scrollbar { 
    display: none; 
}

#info-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* Removemos a animation: scroll-vertical aqui */
}